<p>
  <strong>Game id:</strong>
  <%= @game.id %>
</p>

<p>
  <strong>Authentication Token for player 1:</strong>
  <%= @game.player1Token %>
</p>
 
<p>
  <strong>Access Token for player 2:</strong>
  <%= @game.accessToken %>
</p>